html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.no-padding{padding:0;}
.omega{margin:0 !important; padding:0;}
body{font-family: 'Open Sans', sans-serif;}
h1,h2,h3,h4,h5,h6{color:#159600;}
a:focus{text-decoration:none;}
/*---------------------------------------------------header-----------------------------------------------------*/
.header{width:100%; float:left; background: url(img/header-bg.png) repeat-x; min-height:164px; position:relative;}
.header.inner{background:none;  border-bottom: 4px solid #019c00; border-top: 3px solid #019c00;  min-height: 0;}
.header .logo-cont{text-align:right;}
.header .hdr-img-lft{margin-top:0px; width: 100%;height: 100%; position: absolute; overflow:hidden;}
.header .hdr-img-lft .hdr-img-cont{background: url(img/inner-hdr-bg.jpg) no-repeat; background-size:cover; width:100%; height:94%;}
.col-lg-4.col-md-4.pull-left.user-profile {float: right !important; margin-bottom:0px;}
.logo-cont h1 {margin-top: 10px; margin-bottom: 15px;}
.inner-cont.top label,.inner-cont .reg2-select label {margin-right: 15px; color: #159600; font-weight: normal; font-size: 20px;}
.inner-cont .form-inn-cont {width: 40%; margin: auto;}
.inner-cont .form-inn-cont2 {width: 55%; margin: auto;}
.inner-cont.top button.btn.dropdown-toggle.selectpicker.btn-info,.inner-cont .reg2-select button.btn.dropdown-toggle.selectpicker.btn-info,.prof-reg button.btn.dropdown-toggle.selectpicker.btn-info {background: none; border-radius: 0;  -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; -ms-border-radius:0; border: 1px solid #15b413; color: #ababab; }
button.btn.dropdown-toggle.selectpicker.btn-info{background: none; border-radius: 0;  -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; -ms-border-radius:0; border: 1px solid #15b413; color: #ababab;}
.prof-reg button.btn.dropdown-toggle.selectpicker.btn-info {height:44px;}
.reg2-select .fieldset {margin-bottom: 20px;}
.reg2-select .btn-group.bootstrap-select {float: right !important;}
.container .inner-cont{width:80%; margin:20px auto 10px; padding:20px 30px; box-shadow:0 0 16px #eee;}
.inner-cont.top {padding-bottom: 30px;}
.nmber {float: left; width: 100%; margin-bottom: 20px;}
.nmber span.badge {background: #048a04; border-radius: 50%; width: 45px; height: 45px; font-size: 26px; font-weight: normal; line-height: 1.5em; margin-right:15px;}
.nmber p span.ryt {float: right;}
.ryt a span.badge { background: none; border: 1px solid #048a04; color: #048a04;}
.nmber span.txt {font-size: 32px; color: #048a04;}
.inner-cont.btm {margin-top: 40px;}
.banner-cont{width:100%; float:left; background:url(img/slider-bg.png); min-height:534px; margin-top:-103px;}
.ban-form {float: left; width: 100%; margin-top: 130px;}
.ban-form h2{font-size:30px;}
.form-cont{width:100%; float:left; background: #fff; padding: 35px 35px; border: 1px solid #01c700;}
.form-cont .fieldset{float:left; width:100%; margin-bottom:20px;}
.form-cont .fieldset .lft{width:48%; float:left;}
.form-cont .fieldset .ryt{width:48%; float:right;}
.form-cont .fieldset label {font-size: 18px; color: #222222; font-weight: normal;}
.form-cont button.btn.dropdown-toggle.selectpicker.btn-info {background: none; border-radius: 0;  -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; -ms-border-radius:0; border: 1px solid #15b413; color: #ababab; }
.form-cont .bootstrap-select.btn-group .btn .caret { position: absolute; top: 50%; right: 12px; margin-top: -2px; vertical-align: middle; color: #000; border-top: 8px solid; border-right: 8px solid transparent; border-left: 8px solid transparent;}
.form-cont .bootstrap-select.btn-group .dropdown-menu { min-width: 100%; border: 1px solid #15b413; z-index: 1035; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: 0;  -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; -ms-border-radius:0; border-top: 0; margin-top: 0;}
.form-cont .glyphicon{color:#16b415;}
.form-cont .input-group-addon{border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; -ms-border-radius:0; background:0; border-left:2px solid #019700 !important; border-color:#2dbb2b}
.form-cont input.form-control { border-radius: 0; -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; -ms-border-radius:0; border-left:0; border-color:#2dbb2b;}
.form-cont .btn-group.bootstrap-select {width: 100% !important;}
.form-cont p {font-size: 11px;}
.form-cont label.rem{font-size:12px; position: relative; top: -2px; left: 4px;}
.form-cont button.btn.btn-success { border-radius: 0; background:#019700;}
.form-cont .login-btn{text-align:right;}
.form-cont .nxt-arrow,.form-inn-cont .nxt-arrow,.form-inn-cont2 .nxt-arrow{transform:rotate(90deg); moz-transform:rotate(90deg); -webkit-transform:rotate(90deg); -o-transform:rotate(90deg); -ms-transform:rotate(90deg); margin-right:10px; color:#fff; position: relative; left: 10px;}
.back-arrow{transform:rotate(-90deg); moz-transform:rotate(-90deg); -webkit-transform:rotate(-90deg); -o-transform:rotate(-90deg); -ms-transform:rotate(-90deg); margin-left:-4px; color:#fff; position: relative; right: 4px;}
.fieldset.amttopay {margin-top: 40px;}
span.amt {color: #159600;font-size: 20px;}
.success-cont {width: 75%; margin: 40px auto; background: #d7f1d6; padding: 40px; text-align:center;}
.success-cont span.green-txt {color: #038003; font-size: 30px; float: left; width: 100%; text-align: center; margin-bottom: 20px;}
.success-cont span.red-txt {color: #ff0317; font-size: 28px; float: left; width: 100%; text-align: center; margin-bottom: 20px; font-weight:bold;}
.success-cont p {font-size: 30px; text-align: center; margin-bottom: 30px;}
.success-cont p.rd {font-size: 30px; text-align: center; margin-bottom: 28px; color:#891108;}
.success-cont a.btn.btn-success {background: #019700; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; font-size: 20px; padding: 10px 30px; white-space:pre-wrap; margin-bottom:10px;}
.col-md-5.pull-left.btn.no-padding {border: none; box-shadow: none;}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{outline:0 !important;}
.frm-cont .btn .btn.btn-success:hover, .form-inn-cont .btn .btn.btn-success:hover, .form-inn-cont2 .btn .btn.btn-success:hover{background:#28a929;}
.cons .reg2-select .fieldset input[type="text"] {float: right; width: 46%;}
.cons .reg2-select label {margin-top: 8px;}
.cons .col-md-5.pull-left.btn.no-padding {text-align: right; margin-top: 20px !important; margin-bottom: 20px !important;}
/*---------------------------------------------------header-----------------------------------------------------*/
/*---------------------------------------------------mid-------------------------------------------------------*/
.mid-cont {margin-top: 40px;}
h3.hdr{text-align:center; background:#f7f7f7; border-bottom:2px solid #49c447; font-weight:normal; font-size:38px; padding:8px;}
.mid-cont p {color: #7a7b7a; line-height: 1.9em; font-size: 16px;}
.mid-cont .vid-cont{border:1px solid #16b414; margin-top:90px;}
.mid-btm { margin-top: 40px;}
.mid-btm .frm-cont {float: left; width: 100%; padding-right:20px;}
.frm-cont label {width: 100%; font-weight:normal;}
span.rqrd {color: #ff0000;}
.frm-cont textarea{min-height:150px;}
.frm-cont textarea,input[type="text"],input[type="email"],input[type="password"]{width:100%; border: 1px solid #2dbb2b; margin-bottom:8px; padding:5px; height:45px;}
.frm-cont .btn{text-align:left;}
.frm-cont .btn .btn.btn-success,.form-inn-cont .btn .btn.btn-success,.form-inn-cont2 .btn .btn.btn-success {border-radius: 0; background: #019700; height: 40px; margin-right:10px; width: 120px; text-align: center;}
.frm-cont .btn .btn.btn-default,.form-inn-cont .btn .btn.btn-default,.form-inn-cont2 .btn .btn.btn-default {border-radius: 0; min-height: 35px; height: 40px; width: 100px; margin-right: 15px; width: 120px; text-align: center;}
.form-inn-cont .col-md-5.pull-left.btn.no-padding,.form-inn-cont2 .col-md-5.pull-left.btn.no-padding {width: 100%; margin-top: 60px; margin-bottom: 35px;}
.mid-btm .ryt-content-cont{margin-top:106px;}
.mid-btm .ryt-content-cont p {color: #7a7b7a; line-height: 1.9em; font-size: 16px;}
.mid-btm .ryt-content-cont .socio{float:left; width:100%;}
.mid-btm .ryt-content-cont .socio ul{list-style:none; float: left; padding-left: 0; margin-top: 14px;}
.mid-btm .ryt-content-cont .socio ul li{float:left; margin-right:5px;}
/*---------------------------------------------------/mid-------------------------------------------------------*/
footer{background:#434343; color:#fff;padding:34px 0; margin-top:30px;}
.form-inn-cont2.prof-reg {width: 100%;}
.inner-cont.btm.prof-cont {padding-left: 80px;}
.prof-cont .prof-reg .top-div .lft {float: left; width: 24%;}
.prof-reg .fileinput-new.thumbnail,.prof-reg .fileinput-preview.fileinput-exists.thumbnail {border-radius: 0; border-color: #8aba88; margin-bottom: 0;}
.prof-reg .top-div span.btn.btn-success.btn-file {border-radius: 0; width: 100%; background: #048a05; margin-bottom:10px;}
.prof-reg .top-div span.btn.btn-success.btn-file:hover{background:#279b28;}
span.glyphicon.glyphicon-upload.upld {position: relative; right: 12px;}
.prof-reg .top-div a.btn.btn-default.fileinput-exists {width: 100%; border-radius: 0 !important;}
span.glyphicon.glyphicon-remove.remove {position: relative; right: 12px;}
.prof-reg .top-div .ryt {float: left; width: 60%; margin-left: 20px;}
.prof-reg .ryt .fieldset.span2,.prof-reg .bottom-div .fieldset.span2 {float: left; width: 100%; margin-bottom: 10px;}
.prof-reg .ryt .fieldset {float: left; width: 100%; margin-bottom: 10px;}
.prof-cont .prof-reg .top-div .ryt .fieldset.span2 .lft,.prof-cont .prof-reg .bottom-div .fieldset.span2 .lft{width: 48%;float: left;}
.prof-cont .prof-reg .top-div .ryt .fieldset.span2 .ryt,.prof-cont .prof-reg .bottom-div .fieldset.span2 .ryt  {width: 48%;float: right;}
.lft.select-sm .btn-group.bootstrap-select {float: right; width: 70% !important; margin-bottom:8px; }
.lft.select-lg .btn-group.bootstrap-select {float: left; width: 100% !important; margin-bottom:8px; }
.ryt.select-sm .btn-group.bootstrap-select {float: right; width: 60% !important; margin-bottom:8px;}
.prof-reg .fieldset textarea {border: 1px solid #2dbb2b; margin-bottom: 8px; padding: 5px; height: 80px; float: right; width: 85.6%;}
.prof-reg .bottom-div {float: left; width: 100%;}
.prof-reg .bottom-div h3 {width: 26%; border-bottom: 2px solid #159600; padding-bottom: 9px;}
.prof-reg .top-div {float: left; width: 100%;}
.bottom-div .fieldset.span2 {padding-left: 30px;}
.btn-success span.fileinput-new {color: #fff;}
.frm-cont textarea:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{outline:none;}
span.fileinput-new {color: #048a04;}
.prof-reg .bottom-div span.btn.btn-default.btn-file {border: 0; color: #048a04; margin-top: 0px;}
.prof-reg .bottom-div span.btn.btn-default.btn-file:hover,.prof-reg .bottom-div span.btn.btn-default.btn-file:focus{background:none;}
.prof-reg  .btn:active, .btn.active{box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; -o-box-shadow:none; -ms-box-shadow:none;}
span.filetype-icn {margin-left: 20px; display:inline-block;}

.prof-reg .bottom-div span.btn.btn-default.btn-file:hover span.filetype-icn img{-webkit-transition: all 1s ease; -webkit-filter:  grayscale(1); -moz-filter:  grayscale(1); -ms-filter:  grayscale(1); -o-filter:  grayscale(1); opacity:0.5;}
.prof-reg .bottom-div span.btn.btn-default.btn-file span.filetype-icn img{-webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; -ms-transition: all 1s ease;}
.ryt .col-md-5.pull-left.btn.no-padding {text-align: left;}

.user-img.pull-left { border: 1px solid #e5e5e5;   border-radius: 49px; height: 70px; margin-top: 6%; max-width: 70px; overflow: hidden; padding: 5px;}
.user-img.pull-left > img { width: 100%;}
.user-name.pull-left {margin-top: 11%;margin-left: -1%;}
span.usrname {border: 1px solid #ccc; float: left; display: block; margin-right: 7px; padding:8px 5px; width: 60%; font-size:12px;}
.user-name button.btn.btn-success {border-radius: 0; background: #019700; text-transform: capitalize; }
.user-name button.btn.btn-success:hover{background:#4cae4c;}
.btn-success {color: #fff; background-color: #019700; border-color: #4cae4c; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0;}
.upgrd-lic {float: left; width: 100%; text-align: right; margin-top:0px; padding-right:9%;}
.upgrd-lic .btn-success{margin-right:10px; background: #3ac23a; border: 0; border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px;}
.upgrd-lic .btn-success:hover{background:#0ab109;}
button.btn.btn-success.back-btn {width: 120px;}
.prof-reg .ryt .fieldset.span2,.prof-reg .bottom-div .fieldset.span3 {float: left; width: 100%; margin-bottom: 10px; margin-top:20px;}
.bottom-div .fieldset.span3 {padding-left: 0px;}
.bottom-div .fieldset.span3 .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:100%; margin-top:20px; margin-bottom:20px;}
h3 span { border-bottom: 2px solid #159600; padding-bottom: 6px;}
h3.nob{border-bottom:0;}
.bottom-div .fieldset.span3 label {color: #019700; font-size: 20px; font-weight: normal; text-align: center;}
.bottom-div .txtarea {text-align: center; margin-top: 30px;}
.bottom-div .txtarea textarea {height: 175px !important;}
.bottom-div  .note textarea {width: 100% !important;}
.bottom-div  .note{text-align:center; margin-top:30px;}
.back-btn span.glyphicon.glyphicon-pencil.nxt-arrow {position: relative; right: 10px; }
.qrcode-div {float: right; text-align: right; width: 12%;}
.qrcode-div label {width: 100%; text-align: center; color: #048a07; font-weight: normal;}
.qrcode-div button.btn.btn-success { width: 88%; margin-top: 10px; }
.caregiver .caregiver-cont {float: left; width: 100%; padding-bottom: 10px; margin-bottom: 10px;}
.sep{height:1px; background:#ccc; float:left; width:100%; margin:20px 0;}
.inner-cont.btm.prof-cont.patient-data {padding-left: 30px;}
input[type='radio'] {-webkit-appearance:none; width:20px; height:20px; border:1px solid #01c700; border-radius:50%; outline:none; box-shadow:0 0 5px 0px #01c700 inset;}

input[type='radio']:hover { box-shadow:0 0 5px 0px #01c700 inset;}

input[type='radio']:before { content:''; display:block; width:60%; height:60%; margin: 20% auto; border-radius:50%; }
input[type='radio']:checked:before { background:#01c700;}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus{outline:none;}
.caregiver label.radio-label {position: relative; top: -4px; margin-left: 5px; margin-right: 5px; color: #048a04; font-weight: normal; }
.caregiver p {color: #048a04; font-size: 18px;}
.crgvr-lft span.nm {float: left; width: 100%; display: block; margin-bottom: 8px;}
.patient-data .crgvr-lft span.nm{font-size:16px; margin:15px 0; color:#048a04;}
.patient-data .crgvr-ryt span.nm{font-size:16px; margin:15px 0; color:#048a04;}
.crgvr-lft .fieldset {float: left; width: 90%;}
.crgvr-ryt span.nm {float: left; width: 100%; display: block; margin-bottom: 8px;}
.crgvr-lft input[type="text"],.crgvr-lft input[type="email"] {float: right; width: 60%; margin-bottom:12px;}
.crgvr-lft label {float: left; line-height: 2.4em; color: #048a04; font-weight: normal; font-size: 16px;}
.crgvr-lft .btn-group.bootstrap-select {float: right !important; width: 60% !important; margin-bottom:12px;}
.login-hm-cont{width:100%; float:left; margin-top:20px;}
.login-hm-cont .btns-cont {width: 100%; float: left; margin-top: 20%; margin-bottom: 30px; text-align: center;}
.login-hm-cont .leftsd .hdr-txt h2 {background: #f0f6fa; font-size: 18px; padding: 10px; text-align: center; color: #767676; border: 1px solid #e5eff6; font-weight:normal;}
.login-hm-cont .leftsd .hdr-txt h2 span.icn {position: relative; right: 22px;}
.midsd .btns-cont button.btn.btn-success {width: 300px; margin-bottom: 20px; font-size: 26px;}
.search-cont span.srch-icn {float: left; width: 100%; margin-bottom:10px; font-size:18px;}
.search-cont span.srch-icn i.fa.fa-map-marker.mp-icn {margin-right: 10px; color: #019700;}
.search-cont button {border: none; background: none; padding: 0; outline:none;}
.pat-list ul {list-style: none; padding: 0; margin: 0; max-height: 650px; overflow: auto;}
.pat-list ul li.odd {background: #f2f2f2; border: 1px solid #e6e6e6; margin-bottom: 12px;}
.pat-list ul li.evn {background: #fff; border: 1px solid #e6e6e6; margin-bottom: 12px;}
.pat-list ul li {padding: 8px 12px; float: left; width: 100%;}
.pat-list ul li .img-thumb {float: left; margin-right: 10px;}
.pat-list ul li .pat-desc-cont {float: left; width: 65%;}
.pat-list ul li .pat-desc-cont h5 {margin-top: 0;}
.pat-list ul li .pat-desc-cont h5 a{color:#444444; font-size:16px}
.pat-list ul li .pat-desc-cont h5 a:hover{text-decoration:none;}
.pat-list ul li .pat-desc-cont p, .pat-list ul li .pat-desc-cont span{color:#444; font-size:12px;}
.pat-list ul li .pat-desc-cont p{margin-bottom:0;}
.login-hm-cont .leftsd .add-pat {width: 100%; float: left; text-align: center;}
.login-hm-cont .leftsd .add-pat p {font-size: 20px; color: #040404;}
.login-hm-cont .leftsd .add-pat a{text-decoration:underline; color:#40a642;}
.crgvr-ryt button.btn.btn-default.back-btn {float: left; width: 56.6%; margin-top: 20px;}
.crgvr-ryt button.btn.btn-danger.back-btn {float: left; width: 56.6%; margin-top: 20px; border-radius: 0; height:44px;}
.caregiver-hm .midsd .map{margin-top:28%;}
/*-----------------------------------------------------caregiver routine------------------------------------------------------*/
.caregiver-routine .pat-dp {border: 1px solid #c7c7c7; float: left; text-align: center;}
.caregiver-routine .pat-dp img {width: 162px;}
.caregiver-routine .pat-dp span.pat-name {background: #47bd45; color: #fff; display: block; padding: 6px;}
.caregiver-routine .pat-desc {float: left; width: 100%; margin-top: 20px;}
.caregiver-routine .pat-desc ul {list-style: none; padding: 0; }
.caregiver-routine .pat-desc ul li{color:#444; margin-bottom:20px;}
.caregiver-routine .midsd .menu-cont{float:left; width:100%; z-index: 999;
position: relative;}
.caregiver-routine .midsd .menu-cont ul{list-style:none; padding:0;}
.caregiver-routine .midsd .menu-cont ul li{float:left; margin-right:32px;}
.caregiver-routine .midsd .menu-cont ul li.active a{color:#7fcc83;}
.caregiver-routine .midsd .menu-cont ul li.active a span.icn-clock{background:url(img/clock.png) bottom no-repeat;}
.caregiver-routine .midsd .menu-cont ul li.active a span.icn-param{background:url(img/param.png) bottom no-repeat;}
.caregiver-routine .midsd .menu-cont ul li.active a span.icn-medi{background:url(img/medi.png) bottom no-repeat;}
.caregiver-routine .midsd .menu-cont ul li.active a span.icn-diet{background:url(img/diet.png) bottom no-repeat;}
.caregiver-routine .midsd .menu-cont ul li.active a span.icn-activities{background:url(img/activities.png) bottom no-repeat;}
.caregiver-routine .midsd .menu-cont ul li.active a span.icn-report{background:url(img/report.png) bottom no-repeat;}
.caregiver-routine .midsd .menu-cont ul li:last-child{ margin-right:0px;}
.caregiver-routine .midsd .menu-cont ul li a{color:#9e9e9e; text-align:center; display:block}
.caregiver-routine .midsd .menu-cont ul li a span.txt {display: block; text-align: center; margin-top: 12px;}
.caregiver-routine .midsd .menu-cont ul li a span.icn-clock{background:url(img/clock.png) top no-repeat; width:55px; height:55px; display:block; margin-top:8px; text-align:center;}
.caregiver-routine .midsd #cbp-spmenu-s1 li a span.icn-clock{background:url(img/clock-sm.png)no-repeat; width:38px; height:37px; display:block; margin-right:10px; float:left; position:relative; top:-3px;}
.caregiver-routine .midsd .menu-cont ul li a:hover span.icn-clock{background:url(img/clock.png) bottom no-repeat;}
.caregiver-routine .midsd .menu-cont ul li a span.icn-param{background:url(img/param.png) top no-repeat; width:100%; height:61px; display:block; margin-bottom: 15px;}
.caregiver-routine .midsd #cbp-spmenu-s1 li a span.icn-param{background:url(img/param-sm.png) top no-repeat; width:38px; height:42px; display:block; margin-right:10px; position:relative; top:-5px; float:left;}
.caregiver-routine .midsd .menu-cont ul li a:hover span.icn-param{background:url(img/param.png) bottom no-repeat;}
.caregiver-routine .midsd .menu-cont ul li a span.icn-medi{background:url(img/medi.png) top no-repeat; width:53px; height:52px; display:block; margin-top:7px; margin-bottom: 18px;}
.caregiver-routine .midsd #cbp-spmenu-s1 li a span.icn-medi{background:url(img/medi-sm.png) top no-repeat; width:39px; height:38px; display:block; float:left; position:relative; top:-3px; margin-right:10px;}
.caregiver-routine .midsd .menu-cont ul li a:hover span.icn-medi{background:url(img/medi.png) bottom no-repeat;}
.caregiver-routine .midsd .menu-cont ul li a span.icn-diet{background:url(img/diet.png) top no-repeat; width:50px; height:50px; display:block; margin-top:14px;}
.caregiver-routine .midsd #cbp-spmenu-s1 li a span.icn-diet{background:url(img/diet-sm.png) top no-repeat; width:41px; height:41px; display:block; position:relative; top:-3px; float:left; margin-right:9px;}
.caregiver-routine .midsd .menu-cont ul li a:hover span.icn-diet{background:url(img/diet.png) bottom no-repeat;}
.caregiver-routine .midsd .menu-cont ul li a span.icn-activities{background:url(img/activities.png) top no-repeat; width:100%; height:53px; display:block; margin-top:13px;}
.caregiver-routine .midsd #cbp-spmenu-s1 li a span.icn-activities{background:url(img/activities-sm.png) top no-repeat; width:42px; height:45px; display:block; position:relative; float:left; top:-5px; margin-right:8px;}
.caregiver-routine .midsd .menu-cont ul li a:hover span.icn-activities{background:url(img/activities.png) bottom no-repeat;}
.caregiver-routine .midsd .menu-cont ul li a span.icn-report{background:url(img/report.png) top no-repeat; width:54px; height:54px; display:block; margin-top:12px;}
.caregiver-routine .midsd #cbp-spmenu-s1 li a span.icn-report{background:url(img/report-sm.png) top no-repeat; width:43px; height:43px; display:block; position:relative; top:-5px; float:left; margin-right:8px;}
.caregiver-routine .midsd #cbp-spmenu-s1 li{list-style:none;}
.caregiver-routine .midsd .menu-cont ul li a:hover span.icn-report{background:url(img/report.png) bottom no-repeat;}
.caregiver-routine .midsd .menu-cont ul li a span.icn-noti{background:url(img/icn-noti.png) top no-repeat; width:100%; height:55px; display:block; margin-top:8px; text-align:center; margin-bottom: 14px;}
.caregiver-routine .midsd #cbp-spmenu-s1 li a span.icn-noti{background:url(img/noti-sm.png)no-repeat; width:38px; height:37px; display:block; margin-right:10px; float:left; position:relative; top:-3px; right:-8px;}
.caregiver-routine .midsd .menu-cont ul li a:hover span.icn-noti{background:url(img/icn-noti.png) bottom no-repeat;}
.caregiver-routine .midsd .menu-cont ul li a:hover{color:#7fcc83; text-decoration:none;}
.caregiver-routine .midsd .content-cont{float:left; width:100%; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px; border:1px solid #a6e1a6; margin-top:10px;}
.caregiver-routine .midsd .content-cont .circ-cont{width:85%; margin:20px auto; position: absolute; top: 170px; right: 56px;}
.caregiver-routine .canvas-cont {width: 80%; margin: 40px auto;}
.caregiver-routine .canvas-cont canvas{width:100%;}
.caregiver-routine .content-cont{position:relative;}
.caregiver-routine .midsd .content-cont .circ-cont .btn-cont {text-align: center;}
.caregiver-routine .midsd .content-cont .circ-cont .date-cont { width: 80%; margin: 20px auto;}
.caregiver-routine .midsd .content-cont .circ-cont .lst-btn{width: 20%; text-align: center;}
.caregiver-routine .midsd .content-cont .circ-cont .nxt-btn{width: 20%; text-align: center;}
.caregiver-routine .midsd .content-cont .circ-cont .date-time{width: 60%; text-align: center;}
.caregiver-routine .midsd .content-cont .circ-cont .lst-btn span {display: block; color: #333; margin-top: 4px;}
.caregiver-routine .midsd .content-cont .circ-cont .lst-btn a:hover,.caregiver-routine .midsd .content-cont .circ-cont .nxt-btn a:hover{text-decoration:none;}
.caregiver-routine .midsd .content-cont .circ-cont .nxt-btn span {display: block; color: #333; margin-top: 4px;}
.caregiver-routine .midsd .content-cont .circ-cont .date-time span.dt {display: block; text-align: center; color: #019700; font-size: 18px;}
.caregiver-routine .midsd .content-cont .circ-cont .date-time span.time {display: block; text-align: center; color: #019700; font-size: 46px; line-height: 30px;}
.caregiver-routine .midsd .content-cont .circ-cont .schedule-cont { width: 60%; margin: 20px auto; color:#019700;}
.caregiver-routine .midsd .content-cont .circ-cont .schedule-cont .lft-syd {float: left; width: 40%; text-align: right;}
.caregiver-routine .midsd .content-cont .circ-cont .schedule-cont .ryt-syd {float: right; width: 40%;}
.caregiver-routine .midsd .comment-cont {float: left; width: 100%; margin-top: 50px;}
.caregiver-routine .midsd .comment-cont textarea {float: right; width: 92%; border-radius: 5px; height: 90px; padding:5px; border:1px solid #a6e1a6;}
.caregiver-routine .midsd .content-cont.nw-evnt {text-align: center; padding: 20px;}
.caregiver-routine .midsd .content-cont.nw-evnt .btn-cont {float: left; width: 100%; display: inline-block; text-align: center; margin-top:40px;}
.caregiver-routine .midsd .content-cont.nw-evnt .btn-cont .col-md-5.pull-left.btn.no-padding.btns3 {display: inline-block; width: 100%;}
.caregiver-routine .midsd .content-cont.nw-evnt .new-evnt-cont .fieldset {width: 60%; margin: 10px auto;}
.new-evnt-cont .fieldset .btn-group.bootstrap-select {float: right; width: 70% !important;}
.new-evnt-cont .fieldset label {float: left; width: 25%; text-align: right;}
.caregiver-routine .midsd .content-cont.nw-evnt .new-evnt-cont {margin-top: 40px; margin-bottom: 40px;}
.caregiver-routine .midsd .content-cont.nw-evnt.prof-card .new-evnt-cont {margin-top: 0px; margin-bottom: 0px;}
.caregiver-routine .midsd .content-cont.nw-evnt .new-evnt-cont .timer {float: left; width: 100%; margin-top: 20px;}
.caregiver-routine .midsd .content-cont.nw-evnt .new-evnt-cont .timer span{border:1px solid #89ba88; padding:8px 12px;}
/*-----------------------------------------------------caregiver routine------------------------------------------------------*/

.param .new-evnt-cont .fieldset label {float: left; width: 25%; text-align: right; color: #078b04; font-weight: normal; font-size: 20px;}
.caregiver-routine .midsd .content-cont.param{margin-top:28px;}
.param-cont h3 {text-align: center; margin-top: 40px;}
.graph-cont {float: left; margin-top: 20px; width: 100%;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .new-evnt-cont,.caregiver-routine .midsd .content-cont.nw-evnt.new-drug .new-evnt-cont{margin:0;}
.table > tbody > tr.lyt{background:#f6f6f6;}
.table > tbody > tr:first-child{border-top:1px solid #015f00;}
.table > tbody > tr {text-align: left; border-left: 1px solid #015f00; border-right: 1px solid #015f00;}
.table > tbody > tr > td{border-top:0;}
.table > tbody > tr:last-child{border-bottom:1px solid #015f00;}
.table > tbody > tr.drk{background:#e9e9e9;}
.table > tbody > tr,.table > thead > tr{color:#015f00; font-weight:normal;}
.table > thead > tr > th{font-weight:normal; border-bottom:0;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .add-drug span {display: block; width: 100%; float: left; text-align: left; margin-top: 10px; margin-bottom: 5px;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .add-drug .srch-btn {float: left; width: 100%; text-align: left; margin-bottom: 20px; margin-top: 10px;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .add-drug .add-new-drugbtn {float: left; width: 100%; text-align: left;}
.add-new-drugbtn button.btn.btn-success {width: 100%;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .add-drug .srch-btn button.btn.btn-success {width: 65%;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .table{margin-bottom:40px;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .drug-name span.medi-name {margin-top: 6px; display: block; color: #015f00;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .drug-name span.tablets {color: #898c89; font-size: 12px;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .drug-residual {margin-top: 40px;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .drug-residual p {color: #015f00; text-align: left; line-height: 2.2em;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .drug-residual span.percent {color: #989898; font-size: 44px; display: block;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .drugs-btm {float: left; width: 100%; margin-top: 30px;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .drugs-btm p {color: #015f00; font-weight: bold; text-align: center;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .drugs-btm p span{display:block; color:#898c89; font-size:14px; font-weight:normal;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .drugs-btm1 {float: left; width: 100%; margin-top: 30px;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .drugs-btm1 p {color: #015f00; font-weight: bold; text-align: center;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .drugs-btm1 p span{display:block; color:#898c89; font-size:14px; font-weight:normal;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs button.btn.btn-danger.back-btn {width: 90px; border-radius: 0;}
.caregiver-routine .midsd .content-cont.nw-evnt.drugs button.btn.edit-btn{width:60px;}
.new-drug .tabs-cont{width:100%; float:left;}
.new-drug .tabs-cont div#myTabContent{border:1px solid #048a04; padding:14px 0;}
.new-drug .tabs-cont .nav-tabs{border-bottom:0; margin-left:20px;}
.new-drug .tabs-cont .nav-tabs > li{margin-right:8px;}
.new-drug .tabs-cont .nav-tabs > li.active{margin-bottom:-1px;}
.new-drug .tabs-cont .nav-tabs > li.active a{border:0; background:#048a04; color:#fff; border-bottom:1px solid #048a04;}
.new-drug .tabs-cont .nav-tabs > li a{color:#019700; border:1px solid #019700; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; -ms-border-radius:0;} 
.new-drug .tabs-cont .drug-tab-top {width: 100%; float: left; padding:20px;}
.drug-tab .drug-tab-top label,.drug-tab .drug-tab-btm label {display: block; width: 100%; text-align: left; font-weight: normal; color: #048a04; font-size: 18px;}
.drug-tab .btn-group.bootstrap-select {width: 100% !important;}
.drug-tab button.btn.dropdown-toggle.selectpicker.btn-info {height: 44px;}
.drug-tab textarea {width: 100%; height: 90px; border: 1px solid #2dbb2b;}
.drug-tab div#datetimepicker4,.drug-tab div#datetimepicker5,.drug-tab div.datetimepicker  {position: relative;}
.drug-tab span.add-on {position: absolute; right: 5px; top: 8px;}
.drug-tab span.opt {display: block; width: 100%; text-align: left; margin-bottom: 10px; color: #afafaf; font-size: 13px;}
.col-md-12.col-lg-12.drug-tab {padding: 0 4px;}
.drug-tab-btm .field-cont {float: left; width: 100%; position:relative; z-index:222;}
.drug-tab-btm .field-cont input[type="text"] {float: left; width: 60%;}
.drug-tab-btm .field-cont span.txt {float: left; margin-top: 10px; margin-left: 4px; color: #afafaf; font-size: 13px;}
.drug-tab-btm {float: left; width: 100%;}
.drug-tab .radio-btn {float: left; width: 100%;}
.drug-tab .radio-btn span.txt {color: #048a04; font-size: 18px; position: relative; top: 0;left: 10px; float: left; text-align: left;}
.drug-tab .radio-btn {float: left; width: 100%;}
.radio-btn input[type="radio"] {float: left;}
.drug-tab-btm ul {list-style: none; float: left; width:100%; padding-left:30px;}
.drug-tab-btm ul li{width:100%; float:left;}
.drug-tab-btm ul li span.txt{float:left; width:80%; margin-left:8px; text-align:left;}
.divBox {width: 15px; height: 15px; background: #ddd; float: left; margin: 0; position: relative; border: 1px solid #048a04;}

.divBox label {display: block; width: 16px; height: 11px; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease;-ms-transition: all .5s ease; transition: all .5s ease; cursor: pointer; position: absolute; top: 1px; z-index: 1; background: #fff;}
.divBox input[type=checkbox]{visibility: hidden; margin-top: 0; padding: 0;}
.divBox input[type=checkbox]:checked + label {background: green; }
span.drug-img {border: 0; margin-right: 10px;}
.reint-drug .reint-cont{float:left; width:100%; padding:0 50px}
button.btn.btn-danger.back-btn {width: 90px; border-radius: 0;}
.caregiver-routine .midsd .content-cont.nw-evnt.diet-cont .btn-cont{margin-top:0; margin-bottom: 20px;}
.caregiver-routine .midsd .content-cont.diet-cont{margin-top:20px;}
.maint-cont h4 {text-align: left; font-weight: 600;}
.dow-cont h4 {font-weight: 600;}
.maint-cont ul {margin: 0; padding: 0; list-style: none; }
.maint-cont ul li {float: left; width: 100%; margin-bottom: 15px;}
.maint-cont ul li img {float: left;}
span.maint-txt {float: right; display: block; width: 60%; text-align: right; color: #015f00;}
span.forgot-pass {display: block; text-align: center; margin-top: 5px;}
span.txt.forgot-pass-txt {width: 100%; text-align: center; display: block;}
.forgot-pass .btn-group.bootstrap-select {width: 100% !important; margin-bottom: 10px;}
.forgot-pass button.btn.dropdown-toggle.selectpicker.btn-info {height: 40px;}
.activity-cont span.attached {position: relative; float:right;}
.activity-cont .table > thead > tr > th {border-bottom: 0; font-weight: bold; text-align: center;}
.activity-cont .para p{text-align:justify; color:#444;}
.typology-cont label {color: #015f00; font-weight: normal; position: relative; top: 10px;}
.typology-cont .input-group{width:100%;}
.col-md-10.col-lg-10.typology-cont {margin-bottom: 20px;}
.new-activity-cont .col-md-12.col-lg-12.typology-cont {margin-bottom: 20px;}
.new-activity-cont .col-md-12.col-lg-12 label{text-align:left; display:block;}

.typology-cont-btm label {color: #015f00; font-weight: normal; position: relative; top: 10px;}
.typology-cont-btm .input-group{width:100%;}
.col-md-10.col-lg-10.typology-cont-btm {margin-bottom: 20px;}
.typology-cont-btm button.btn.dropdown-toggle.selectpicker.btn-info {height: 44px;}
.typology-cont button.btn.dropdown-toggle.selectpicker.btn-info {height: 44px;}
.typology-cont-btm button.music-btn{background: url(img/music-btn.png)no-repeat; width:33px; height:42px; border:0;}
.typology-cont-btm span.input-group-addon {background: none; border: 0; padding: 0; text-align: left;}
.edit-profile a {color: #019700;}
.edit-profile a:hover{color:#000; text-decoration:none;}
.new-activity-cont .col-lg-2.help-icn {margin: 0; padding: 0; text-align: left; margin-top: 0px;}
.new-activity-cont input[type="text"],.new-activity-cont button.btn.dropdown-toggle.selectpicker.btn-info {height:35px;}
.patient-data-lft .fieldset {float: left; width:70%;}
.patient-data-ryt .fieldset label {float: left; line-height: 2.4em; color: #048a04; font-weight: normal; font-size: 16px; width:16%;}
.patient-data-ryt input[type="text"] {float: left; width: 40%; margin-left: 10px; margin-right: 10px; height: 35px;}
.patient-data-lft input[type="text"] {height:35px; width:100%}
.patient-data-lft span.nm,.patient-data-ryt span.nm {float: left; width: 100%; display: block; margin-bottom: 8px; font-size:20px;}
.prof-card-top .img-thumb {float: left; border: 1px solid #ccc; padding: 5px; margin-right:20px;}
.prof-card-top h3 {float: left; margin-top: 0; text-align: left; }

.prof-card-top h4,.prof-card-top p {margin-top: 0; text-align: left;}
.prof-card-top .time-table h4 {text-align: center;}
.prof-card-top .time-table td.day {color: #159600; width: 12%; text-align: left; float:left;}
.prof-card-top .time-table td.time {width: 34%; float:left;}
.prof-card-top .add-to-nw {float: left; width: 100%; margin-top: 20px;}
.col-md-12.prof-card-btm{float: left; width: 100%; margin-top: 20px;}
.prof-card-btm .col-md-4.view-cv {text-align: left;}
.prof-card-btm .col-md-4.view-cv a,.prof-card-btm .col-md-4.snd-msg a{color: #159600; font-size:18px;}
.prof-card-btm .col-md-4.view-area { text-align: right;}
.time-table table {float: right; width:100%;position: relative; left: 35px;}
.report .col-md-3.add-drug {margin-top: 7.4%;}
.report .col-md-3.add-drug span,.report .col-md-3.add-drug  label{text-align:left; display:block; color:#159600;}
.new-rep-cont ul {list-style: none; float: left; width:100%; padding-left:0px; margin-top:30%;}
.new-rep-cont ul li{width:100%; float:left;}
.new-rep-cont ul li span.txt{float:left; width:80%; margin-left:4px; text-align:left; font-size:12px; color:#159600;}
.new-rep-cont span {color: #015f00; display: block; text-align: left; font-weight: 600; font-size:15px;}
.new-rep-cont label{color:#159600; display: block; text-align: left; font-weight:normal;}
.new-rep-cont {float: left; width: 100%; margin-top: 20px;}
.report .crt-rep {float: left; width: 100%;}
.report .crt-rep .btn-group.bootstrap-select {float: left; width: 84% !important;}
.btn-danger{border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; -o-border-radius:0; -ms-border-radius:0;}

.pat-desc-cont .icns a {display: inline-block; margin-right: 20px;}
.pat-desc-cont .icns {margin-top: 5px;}
/*------------------------------------------------------Professional Page--------------------------------------------------------*/
.professional .pat-list-cont{float:left; width:100%; margin-bottom:30px; margin-top: 20px;}
.professional .pat-list-cont ul {margin-left: 0; padding-left: 0; list-style: none; background: #e5f4e5;float: left; width: 100%; padding: 10px 15px;}
.professional .pat-list-cont ul li {border-bottom: 1px solid #b7e1b7; float:left; width:100%; margin-bottom:20px;}
.professional .pat-list-cont ul li:last-child{border-bottom:0;}
.professional .pat-list-cont ._pat_details {float: left; width: 90%; clear: both;}
.professional .pat-list-cont .pull-right.attachment {margin-right: 15px;}
.professional .pat-list-cont ._thumbs_cont {float: left; width: 46px; height: 46px; background: #fff; text-align: center; border: 1px solid #ebebeb; margin-right: 10px; padding: 4px;}
.professional .pat-list-cont ._pat_details h5 {margin-top: 4px; margin-bottom: 2px;}
.professional .pat-list-cont ._pat_details h5 {margin-top: 2px;}
.professional .map ul.nav-tabs {float: left; border: 1px solid #019c00; border-bottom: 0; border-radius: 8px 8px 0 0; margin-left: 0px;}
.professional .nav-tabs > li > a {margin-right: 2px; line-height: 1.42857143; border: 1px solid transparent; border-radius: 8px 8px 0 0; color: #333;}
.professional .nav-tabs > li.active > a{background:#019c00; color:#fff; border:0; border-radius:0;}
.professional .activity-cont span.attached{float:none;}
.professional .col-md-9.table-cont {float: none; margin: auto;}
.professional .col-md-12.col-lg-12.para {background: #f6f6f6; padding: 15px; border: 1px solid #019700; position: relative; margin-top:20px;}
.professional .col-md-12.col-lg-12.para p{border-bottom: 1px solid #ddecdd; padding-bottom: 10px;}
.professional .col-md-12.col-lg-12.para p:last-child{border-bottom:0;}
.professional .col-md-12.col-lg-12.para p span.date{float:right; color:#019700; width:100%; text-align:right;}
.professional .attach-clip {position: relative; left: -10px; text-align: left; margin-top: -34px;}
.professional .report{padding:0 !important; border:0 !important;}
.professional .new-drug .tabs-cont div#myTabContent{padding:20px 20px;}
.professional.drug .activity-cont .table > thead > tr > th{text-align:left;}
.professional.drug .table{margin-bottom:20px !important;}
.professional .graph-cont{margin-bottom:30px;}
/*.professional .tab-content {height: 350px; border: 1px solid #019c00; padding: 10px; overflow:auto;}*/
.professional .snd-msg img {padding: 8px 0;}
.log-out { margin-bottom: 20px; display:none;}
.caregiver-routine.professional  .midsd .content-cont .circ-cont {width: 85%; margin: 20px auto; position: relative; top:0; right:0;}
.caregiver-routine.professional .midsd .content-cont{padding:20px}
.caregiver-routine.professional .midsd .content-cont .circ-cont .date-time{width:100%;}
.caregiver-routine.professional .midsd .menu-cont ul li{margin-right:64px;}
.caregiver-routine.professional .midsd .menu-cont ul li:last-child{margin-right:0px;}
/*------------------------------------------------------/Professional Page--------------------------------------------------------*/





table.myclass thead tr th { background:#093; color:#FFF;}
table.myclass tr th{  vertical-align:central;}
.myclass tr td select{border: 1px solid #2dbb2b; width:60%;}
/*table.myclass tr td input[type="text"],input[type="password"],input[type="email"],textarea{ width:40%;}
table.myclass tr td select{border: 1px solid #2dbb2b; width:40%;}*/
#pagination{
	float: left;
	font:11px Tahoma, Verdana, Arial, "Trebuchet MS", Helvetica, sans-serif;
	color:#3d3d3d;
	margin-top: 20px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	width:100%;
}
#pagination a, #pagination strong{
	list-style-type: none;
	display: inline;
	padding: 5px 8px;
	text-decoration: none; 
	background-color: inherit;
	color: #EC7117;
	font-weight: bold;
}
#pagination strong{
	color: #ffffff;
	background-color:#F00;
	background-position: top center;
	background-repeat: no-repeat;
	text-decoration: none; 
}
#pagination a:hover{
	color: #ffffff;
	background-color:#F00;
	background-position: top center;
	background-repeat: no-repeat;
	text-decoration: none; 
}

/*============= Chart css is start hear ====================================>   */
.chatbox {
	position: fixed;
	position:expression("absolute");
	width: 225px;
	display:none;
}

.chatboxhead {
	background-color:#47BD45;
	padding:7px;
	color: #ffffff;

	border-right:1px solid #47BD45;
	border-left:1px solid #47BD45;
}

.chatboxblink {
	background-color: #176689;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.chatboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:200px;
	width:225px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
}

.chatboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #47BD45;
	border-right:1px solid #47BD45;
	border-bottom:1px solid #47BD45;
}

.chatboxtextarea {
	width: 206px;
	height:44px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #47BD45;
	margin: 1px;
	overflow:hidden;
}

.chatboxtextareaselected {
	border: 2px solid #47BD45;
	margin:0;
}

.chatboxmessage {
	margin:0;
}
.chatboxmessagenew{
float: left;
width: 100%; 
	}



.chatboxinfo {
	margin-left:-1em;
	color:#666666;

}

.chatboxmessagefrom {
	/*float: right;*/
font-weight: bold; 
}

.chatboxmessagecontent_right {
	
box-sizing: border-box;
float: right;
max-width: 80%;
position: relative;
border-radius: 0px;
-webkit-box-shadow: inset 0 8px 5px rgba(255, 255, 255, 0.65), 0 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset 0 8px 5px rgba(255, 255, 255, 0.65), 0 1px 2px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 8px 5px rgba(255, 255, 255, 0.65), 0 1px 2px rgba(0, 0, 0, 0.2);
margin-bottom: 20px;
padding: 6px 6px 5px;
color: #000;
text-shadow: 0 1px 1px rgba(255,255,255,.8);
word-wrap: break-word;
min-height: 36px;
}





.chatboxmessagecontent_left {
	
box-sizing: border-box;
float: left;
max-width: 80%;
position: relative;
border-radius: 0px;
-webkit-box-shadow: inset 0 8px 5px rgba(255, 255, 255, 0.65), 0 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset 0 8px 5px rgba(255, 255, 255, 0.65), 0 1px 2px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 8px 5px rgba(255, 255, 255, 0.65), 0 1px 2px rgba(0, 0, 0, 0.2);
margin-bottom: 20px;
padding: 6px 6px 5px;
color: #000;
text-shadow: 0 1px 1px rgba(255,255,255,.8);
word-wrap: break-word;
min-height: 36px;
}



.chatboxoptions {
	float: right;
}

.chatboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.chatboxtitle {
	float: left;
}






/*------------------------------------------------------/Professional Page--------------------------------------------------------*/
.caregiver-srch{margin-top:-159px; position:relative; z-index:9999;}
.caregiver-srch .add-on {margin-left: 20px; margin-top: 5px;}
.demo.inn-circl-cont{color:#EEE;background:#fff;height:auto;width:100%; margin-top:-95%;}
.demo.inn-circl-cont .circl-cont2{position:relative;width:auto;margin:auto;}
.demo.inn-circl-cont .circl-cont2 ._timer{float:left; width:97%; color:#666; margin-top:2%; margin-left:3%; z-index:1000; position:relative;}

/* background:url(img/24.png) no-repeat  center top 63px,url(img/12.png) no-repeat  center bottom 3px,url(img/6.png) no-repeat  center right 3px,url(img/18.png) no-repeat  center left 35px;    */

.demo.inn-circl-cont .circl-cont2 ._outer-circ-cont{position:absolute;left:45px;top:-26px;   padding:25px;}
._outer-circl-canvas-cont{display: inline; width: 480px; height: 480px;}
._inner-circ-cont{position:absolute;left:80px;top:80px;padding:25px;}
._inner-circl-canvas-cont{display: inline; width: 410px; height: 410px;}
._outer-circl-canvas{display: none; width: 0px; visibility: hidden;}
.new-evnt-btn{width:125px; margin-left:250px; float:left; position:relative; z-index:1000; margin-top:30px;}
.new-evnt-btn a{text-decoration:none; color:#FFF !important;}



/***  chat box css  is start hear    ***/


.chatboxmessagecontent_right:after {
content: url(img/arrow-br.png);
width: 10px;
height: 8px;
position: absolute;
right: -8px;
top: -5px;
z-index: 1;
}
 .chatboxmessagecontent_left:after {
content: url(img/arrow-bl.png);
width: 10px;
height: 8px;
position: absolute;
left: -8px;
top: -5px;
z-index: 1;
}

/*--------------  cricle css start hear ------------   */
.timing-num-dots { position: absolute; left: 66px; top: -146px; height: 485px; width: 486px; }
.dot { background-color:#449d44; border-radius:50%; width:20px; height:20px; z-index:99; }
.dot1 { position: absolute; right: 35%; top: 12px; cursor:pointer; }
.dot2 { position: absolute; right: 23%; top: 8%; cursor:pointer;}
.dot3 { position: absolute; right: 13%; top: 16%; cursor:pointer;}
.dot4 { position: absolute; right: 6%; top: 26%; cursor:pointer;}
.dot5 { position: absolute; right: 2%; top: 37%; cursor:pointer;}
.dot6 { position: absolute; right: 4px; top: 48%; cursor:pointer;}
.dot7 { position: absolute; right: 3%; top: 62%; cursor:pointer;}
.dot8 { position: absolute; right: 8%; top: 73%; cursor:pointer;}
.dot9 { position: absolute; right: 16%; top: 82%; cursor:pointer;}
.dot10 { position: absolute; right: 24%; top: 89%; cursor:pointer;}
.dot11 { position: absolute; right: 35%; top: 93%; cursor:pointer;}
.dot12 { position: absolute; right: 47%; bottom: 4px; cursor:pointer;}
.dot24 { position: absolute; left: 48%; top: 4px; cursor:pointer;}
.dot23 { position: absolute; left: 35%; top: 12px; cursor:pointer;}
.dot22 { position: absolute; left: 23%; top: 8%; cursor:pointer;}
.dot21 { position: absolute; left: 13%; top: 16%; cursor:pointer;}
.dot20 { position: absolute; left: 6%; top: 26%; cursor:pointer;}
.dot19 { position: absolute; left: 2%; top: 37%; cursor:pointer;}
.dot18 { position: absolute; left: 4px; top: 49%; cursor:pointer;}
.dot17 { position: absolute; left: 3%; top: 62%; cursor:pointer;}
.dot16 { position: absolute; left: 8%; top: 73%; cursor:pointer;}
.dot15 { position: absolute; left: 16%; top: 82%; cursor:pointer;}
.dot14 { position: absolute; left: 24%; top: 89%; cursor:pointer;}
.dot13 { position: absolute; left: 35%; top: 93%; cursor:pointer;}
.dot6 .dottxt { position: absolute; right: -19px; color: #449d44; font-weight: 600; }
.dot12 .dottxt { position: absolute; bottom: -19px; color: #449d44; font-weight: 600; }
.dot18 .dottxt { position: absolute; left: -19px; color: #449d44; font-weight: 600; }
.dot24 .dottxt { position: absolute; top: -19px; color: #449d44; font-weight: 600; }
 .dottxt{ color: #449d44; font-weight: 600;}
@media (min-width: 768px) and (max-width: 991px) {
 .timing-num-dots {
left: 67px;
top: -132px;
height: 488px;
width: 486px;
}
}
 @media (min-width: 701px) and (max-width: 767px) {
 .timing-num-dots {
 left: 66px;
top: 482px;
height: 484px;
width: 486px;
}
}
 @media (min-width: 680px) and (max-width: 700px) {
 .timing-num-dots {
 left: 66px;
top: 434px;
height: 449px;
width: 443px;
}
}
 @media (min-width: 641px) and (max-width: 680px) {
 .timing-num-dots {
left: 54px;
top: 382px;
height: 399px;
width: 407px;
}
}
 @media (min-width: 621px) and (max-width: 640px) {
.timing-num-dots {
left: 66px;
top: 372px;
height: 392px;
width: 390px;
}
}
 @media (min-width: 601px) and (max-width: 620px) {
 .timing-num-dots {
left: 60px;
top: 378px;
height: 386px;
width: 396px;
}
}
 @media (min-width:501px) and (max-width: 600px) {
.timing-num-dots {
left: 63px;
top: 286px;
height: 299px;
width: 297px;
}
}
@media (min-width:481px) and (max-width: 500px) {
.timing-num-dots {
left: 63px;
top: 239px;
height: 264px;
width: 258px;
}
}
 @media (min-width: 441px) and (max-width: 480px) {
.timing-num-dots {
left: 63px;
top: 197px;
height: 213px;
width: 221px;
}
}
 @media (min-width: 401px) and (max-width: 440px) {
.timing-num-dots {
left: 63px;
top: 192px;
height: 215px;
width: 221px;	
}
}
 @media (min-width: 361px) and (max-width: 400px) {
.timing-num-dots {
left: 63px;
top: 184px;
height: 200px;
width: 205px;
}
}
 @media (min-width: 321px) and (max-width: 360px) {
.timing-num-dots {
left: 63px;
top: 171px;
height: 183px;
width: 190px;
}
}
 @media (min-width:120px) and (max-width: 320px) {
.timing-num-dots {
left: 63px;
top: 161px;
height: 200px;
width: 200px;
}
}


.sixtxt{ position:absolute; right:-10px; top:48%}
.twelvetxt{ position:absolute; bottom:-20px; left:48%}
.eigheentxt{ position:absolute; left:-18px; top:48%}
.twentyfourtxt{ position:absolute; top:-15px; left:48%}


/*------------------------------------------------------/Professional Page--------------------------------------------------------*/
