@media (max-width: 1264px){
 .top-frm { width: 65%;}
 .inner-cont .form-inn-cont2{width:80%;}
 .inner-cont.btm.prof-cont{padding-left:30px;}
 .form-inn-cont2.prof-reg{width:100%;}
 .prof-reg .top-div .ryt {float: right; margin-left: 0; width: 70%;}
 .prof-reg .bottom-div h3{width:41%; text-align:center;}
 .header .hdr-img-lft{position:absolute; height:100%;}
 .caregiver-routine .midsd .content-cont.nw-evnt .new-evnt-cont .fieldset{width:80%;}
 .col-lg-4.col-md-4.pull-left.user-profile {background: rgba(256,256,256,0.5); float: right !important; margin-top: 5px; padding-bottom: 9px; width: 50%;}
 h3.nob {border: 0 none !important; width:100% !important;}
 .qrcode-div{text-align:center; width:100%; margin-top:20px;}
 .login-hm-cont .leftsd .hdr-txt h2{font-size:13px;}
 .pat-list ul li .pat-desc-cont{width:58%;}
 .crgvr-ryt button.btn.btn-danger.back-btn{width:77%;}
 .caregiver-routine .pat-dp{width:100%;}
 .caregiver-routine .pat-dp img{width:100%;}
 .caregiver-routine .midsd .menu-cont ul li{margin-right:30px;}
 .login-hm-cont .leftsd .hdr-txt h2 span.icn{right:12px;}
 .add-new-drugbtn button.btn.btn-success{font-size:12px;}
 .drug-tab .drug-tab-btm label{font-size:12px;}
 .drug-tab span.opt{font-size:11px;}
 .drug-tab-btm .field-cont span.txt{font-size:11px;}
 .drug-tab .radio-btn span.txt{font-size:13px;}
 .drug-tab-btm ul li span.txt{font-size:13px; width:68%;}
 .reint-drug .reint-cont{padding:0;}
 .col-md-6.maint-cont {  width: 100%;}
 .col-md-6.dow-cont {width: 100%;}
 .diet-cont button.btn.btn-success.back-btn{width:110px;}
 .col-md-10.col-lg-10.typology-cont{width:100%;}
 .col-md-10.col-lg-10.typology-cont-btm{width:100%;}
 .patient-data-ryt .fieldset label{width:22%;}
 .patient-data-ryt input[type="text"]{width:28%;}
}
@media (max-width:1200px){
.new-activity-cont .col-md-12.col-lg-12 .col-lg-2 label,.new-activity-cont .col-md-12.col-lg-12 .col-lg-1 label{ display: block;  margin-bottom: 20px;}
.new-activity-cont .col-lg-2.lbl {float: left; width: 20%;}
.new-activity-cont .col-lg-7.inp {float: left; width: 40%;}
.new-activity-cont .col-lg-3.inp2 { float: left; width: 40%;}
.new-activity-cont .col-lg-6.hlp {float: left; width: 70%;}
.new-activity-cont .col-lg-7.inp-full {float: left; width: 80%;}
.new-activity-cont .col-lg-2.inp3 {float: left;}
.new-activity-cont .col-lg-1.lbl2 {float: left;}
.new-activity-cont .col-lg-4.inp-url {float: left;width: 48%;}
.typology-cont .col-lg-2 label { display: block;  margin-bottom: 20px;}

.typology-cont-btm .col-lg-2 label { display: block;  margin-bottom: 20px; text-align:center}
.typology-cont .input-group {margin-bottom: 20px;}
.typology-cont-btm .input-group {margin-bottom: 20px;}
}
@media (max-width:1100px){
.typology-cont .col-lg-2 label { display: block;  margin-bottom: 20px;}

.typology-cont-btm .col-lg-2 label { display: block;  margin-bottom: 20px; text-align:center}
.typology-cont .input-group {margin-bottom: 20px;}
.typology-cont-btm .input-group {margin-bottom: 20px;}
}
@media (min-width: 992px){
.caregiver-routine .midsd .content-cont.nw-evnt.drugs .drugs-btm1{display:none;}
}
@media (max-width:992px){
	.header{background: url(img/header-bg.png) repeat-x;}
	.col-md-3.col-lg-3.leftsd {float: left; width: 100%;}
	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{display:inline-block;}
	.crgvr-ryt button.btn.btn-danger.back-btn{width:55%;}
	.login-hm-cont .leftsd .hdr-txt h2{font-size:18px;}
	.pat-list ul li .pat-desc-cont{width:65%;}
	.header .hdr-img-lft{position:relative;}
	.banner-cont{background-size:cover; margin-top:-10px}
	.header .logo-cont { text-align: center;  width: 100%;}
	.vid {float: left; width: 100%;}
	.mid-cont .vid-cont{margin-top:40px;}
	.mid-btm .ryt-content-cont{margin-top:40px;}
	.form-cont{background: rgba(255,255,255,0.8);}
	 .top-frm { width: 100%;}
	 .inner-cont .form-inn-cont2 {margin-top: 20px;  width: 100%;}
	 .success-cont{width:100%;}
	 .prof-reg .top-div .ryt{width:100%;}
	 .prof-reg .bottom-div h3 {  font-size: 20px; text-align: left; width: 39%;}
	 .col-lg-4.col-md-4.pull-left.user-profile {background:none; float:none !important; margin: 5px auto 0; padding-bottom:0; width:60%;}
	 .user-name.pull-left {margin-left: -1%; margin-top: 6%; width: 77%;}
	 .user-img.pull-left{margin-top:2%;}
	 .upgrd-lic {float: left; margin-top: 20px; padding-right: 0; text-align: center; width: 100%;}
	 .upgrd-lic .btn-success{border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px;}
	 .caregiver-routine .pat-dp img{width:162px;}
	 .caregiver-routine .midsd .menu-cont ul li{margin-right:64px;}
	 .caregiver-routine .pat-desc{text-align:center;}
	 .caregiver-routine .pat-desc ul li{float:left; margin-right:50px;}
	 .caregiver-routine .pat-desc ul li:last-child{margin-right:0;}
	 .login-hm-cont .leftsd .hdr-txt h2 span.icn{right:12px;}
	 .caregiver-routine .midsd .content-cont.nw-evnt .new-evnt-cont .fieldset{width:60%;}
	 .new-evnt-cont .fieldset .btn-group.bootstrap-select{width:55% !important;}
	 .add-new-drugbtn button.btn.btn-success{font-size:14px;}
	 .caregiver-routine .midsd .content-cont.nw-evnt.drugs .add-drug .srch-btn button.btn.btn-success{width:100%;}
	 .drug-tab .drug-tab-btm label{font-size:18px;}
	 .drug-tab span.opt{font-size:13px;}
	 .drug-tab-btm .field-cont span.txt{font-size:13px;}
	 .drug-tab-top .col-md-6.pull-left,.drug-tab-top .col-md-6.pull-right {width: 50%;}
	 .drug-tab-btm ul li span.txt {font-size: 14px; width: 82%;}
	 .drug-tab .radio-btn span.txt{font-size:18px;}
	 .reint-cont .drug-tab-btm .field-cont input[type="text"]{width:90%;}
	 .col-md-6.pull-right.reint-meal-cont {width: 100%;}
	 .col-md-5.pull-left.reint-datetm-cont {width: 100%;}
	  .col-md-6.maint-cont {  width: 50%; float:left;}
 .col-md-6.dow-cont {width: 50%; float:left;}
 .diet-cont button.btn.btn-success.back-btn{width:120px;}
 .caregiver-routine .midsd .content-cont.nw-evnt.drugs .drugs-btm1{display:block;}
 .caregiver-routine .midsd .content-cont.nw-evnt.drugs .drugs-btm{display:none;}
 .col-md-5.patient-data-lft.no-padding.pull-left {float: left; width: 100%;}
 .col-md-7.patient-data-ryt.no-padding.pull-left {float: left; margin-top: 20px; width: 100%;}
 .patient-data-lft .fieldset {float: left; width: 100%;}
 .patient-data-ryt input[type="text"] {width: 38%;}
}
@media (max-width:768px){
	.inner-cont .reg2-select label{font-size:16px;}
	.reg2-select .fieldset{margin-bottom:30px;}
	.bottom-div .fieldset.span2 {padding-left: 0;}
	.col-md-4.col-sm-4.col-xsm-4.drug-name {float: left; width: 30%;}
	.col-md-4.col-sm-4.col-xsm-4.drug-residual {float: left; width: 30%;}
	.table-responsive{border:none;}
	.table > tbody > tr {border-left: 1px solid #015f00; border-right: 1px solid #015f00;}
	.new-drug .tabs-cont .drug-tab-top {float: left; margin-bottom: 20px; padding: 0; width: 100%;}
	.drug-tab-btm .field-cont input[type="text"] {float: left; width: 90%;}
	.drug-tab-btm .field-cont input[type="text"] {float: left; width: 100%;}
	.drug-tab-btm .field-cont span.txt{margin-top:0;}
	.drug-tab-btm ul li{float:left;}
}
@media (min-width:740px){
	.menu-btn{display:none;}
	#cbp-spmenu-s1{display:none;}
}
@media (max-width:740px){
	.caregiver-routine .midsd .menu-cont{display:none;}
	.menu-btn{display:block; float:right; position:relative; z-index:9999; width:100%;}
	.menu-btn.active{width:40%;}
	.caregiver-routine .pat-desc ul li {margin-bottom: 30px; margin-right: 0px; width:30%;}
	.caregiver-routine .pat-desc ul {list-style: outside none none; margin: auto; padding: 0; width: 80%;}
	.caregiver-routine .pat-desc ul li._path {margin-right: 14px !important;}
	 .col-md-6.maint-cont {float: none; margin: auto; width: 60%;}
 .col-md-6.dow-cont {width: 100%; float:left;}
 .diet-cont button.btn.btn-success.back-btn{width:120px;}
 .patient-data-ryt .fieldset label {text-align: left; width: 100%;}
 .patient-data-ryt input[type="text"] {margin-left: 0;  margin-right: 0;  width: 100%;}
}
@media (max-width: 700px){
	.prof-reg label {font-size: 13px; font-weight: normal;}
	.prof-reg .bottom-div h3{width:47%;}
}
@media (max-width: 670px){
	.inner-cont .reg2-select label {font-size: 16px; margin-bottom: 10px; text-align: center; width: 100%;}
	.reg2-select .btn-group.bootstrap-select {margin-bottom: 20px; width: 100% !important;}
	span.amt {color: #159600; display: block;  font-size: 12px;  text-align: center;  width: 100%;}
	.cons .reg2-select label{font-size: 16px; margin-bottom: 10px; text-align: center; width: 100%;}
	.cons .reg2-select .fieldset input[type="text"] {float: right; width: 100%;}
	.cons .col-md-5.pull-left.btn.no-padding {text-align: center;}
	
}
@media (max-width: 630px){
	.inner-cont.top {text-align: center;}
	.inner-cont .form-inn-cont{width:100%;}
	.nmber span.txt{font-size:20px;}
	.nmber span.badge{font-size:18px; height:35px; width:35px;}
	.inner-cont.top .btn-group.bootstrap-select {margin-top: 20px; width: 100% !important;}
	.success-cont p{font-size:20px;}
	.success-cont span.green-txt{font-size:20px;}
	.drug-tab-top .col-md-6.pull-left, .drug-tab-top .col-md-6.pull-right {width: 100%;}
	.diet-cont button.btn.btn-success.back-btn {float: left; margin-bottom: 20px; width: 100%;}
	.col-md-6.maint-cont {float: left; margin: auto; width: 100%;}

}
@media (max-width: 600px){
	.form-cont .fieldset .lft{width:100%}
	.form-cont .fieldset .ryt{width:100%}
	.form-cont .input-group{margin-bottom:20px;}
	.form-cont .ryt .input-group {margin-bottom: 0;}
	.ban-form{margin-top:100px;}
	.ban-form h2{font-size:22px;}
	body{overflow-x:hidden;}
	.col-lg-4.col-md-4.pull-left.user-profile{width:100%; float:left !important;  margin: 5px 0 0 60px;}
	.new-activity-cont .col-lg-4.inp-url {float: right; width: 42%;}
}

@media (max-width: 520px){
	.prof-cont .prof-reg .top-div .ryt .fieldset.span2 .lft, .prof-cont .prof-reg .bottom-div .fieldset.span2 .lft{width:100%;}
	.prof-cont .prof-reg .top-div .ryt .fieldset.span2 .ryt, .prof-cont .prof-reg .bottom-div .fieldset.span2 .ryt{width:100%;}
	.lft.select-sm .btn-group.bootstrap-select{width:100% !important;}
	.ryt.select-sm .btn-group.bootstrap-select{width:100% !important;}
	.prof-reg .fieldset textarea{width:100%;}
	.btns3 .btn.btn-success.back-btn {float: left; width: 100%; margin-bottom:20px;}
	.btns3 .btn.btn-success {float: left; margin-top: 20px; width: 100% !important;}
	.btns3 .btn.btn-default {float: left; margin-top: 20px; width: 100% !important;}
	.col-md-5.crgvr-ryt.no-padding.pull-left {width: 100%;}
	.crgvr-ryt .btn-group.bootstrap-select {width: 100% !important;}
	.crgvr-ryt button.btn.btn-danger.back-btn {width: 100%;}
	.caregiver-routine .pat-desc ul li {width:40%;}
	.caregiver-routine .pat-desc ul{width:100%;}
	.caregiver-routine .pat-desc ul li{width:30%; margin-right:0 !important;}
	.col-md-4.col-sm-4.col-xsm-4.drug-name {float: left; width: 50%;}
	.col-md-4.col-sm-4.col-xsm-4.drug-residual {float: left; width: 50%;}
	.caregiver-routine .midsd .content-cont.nw-evnt.drugs button.btn.btn-danger.back-btn {border-radius: 0; width: 100%; float:left;}
	.caregiver-routine .midsd .content-cont.nw-evnt.drugs .add-drug .srch-btn button.btn.btn-success {width: 100%;}
	.btn-cont .btn.btn-danger.back-btn {float: left; width: 100%;}
	.new-activity-cont .col-lg-2.lbl {float: left;text-align: center; width: 100%;}
	.new-activity-cont .col-md-12.col-lg-12 .col-lg-2 label, .new-activity-cont .col-md-12.col-lg-12 .col-lg-1 label {display: block; margin-bottom: 20px;text-align: center;}
	.new-activity-cont .col-lg-7.inp {float: left; width: 100%;}
	.new-activity-cont .col-lg-3.inp2 {float: left; width: 100%;}
	.new-activity-cont .col-lg-6.hlp {float: left; width: 88%;}
	.new-activity-cont .col-lg-7.inp-full {float: left; width: 100%;}
	.new-activity-cont .col-lg-2.inp3 {float: left; width: 100%;}
	.new-activity-cont .col-lg-4.inp-url {float: right;width: 86%;}
}
@media (max-width: 450px){
	.nmber span.badge {font-size: 12px; height: 25px; width: 25px;}
	.nmber span.txt {font-size: 12px;}
	.caregiver-routine .pat-desc ul li {margin-bottom: 30px; margin-right: 24px;}
}
@media (max-width: 420px){
	.ban-form h2{font-size:16px;}
	.col-lg-4.col-md-4.pull-right.logo-cont img {width: 100%;}
	.form-cont p{text-align:center;}
	.col-md-7.pull-left.rem-me {text-align: center;  width: 100%;}
	.form-cont .login-btn { margin-top: 10px; text-align: center; width: 100%;}
	.login-btn button {width: 50%; padding-left: 20px; padding-right: 20px;}
	.inner-cont .reg2-select label{font-size:13px;}
	.col-md-5.pull-left.btn.no-padding img {width: 100%;}
	.success-cont p{font-size:15px;}
	.success-cont span.green-txt{font-size:15px;}
	.frm-cont .btn .btn.btn-default, .form-inn-cont .btn .btn.btn-default, .form-inn-cont2 .btn .btn.btn-default{width:100%;}
	.frm-cont .btn .btn.btn-success, .form-inn-cont .btn .btn.btn-success, .form-inn-cont2 .btn .btn.btn-success{width:100% !important; float:left; margin-top:20px;}
	.prof-cont .prof-reg .top-div .lft{width:100%;}
	.top-div .fileinput.fileinput-new.fat {width: 100%;}
	.prof-reg .top-div .fileinput-new.thumbnail {width: 100% !important;}
	.prof-reg .top-div .fileinput-new.thumbnail > img {width: 100%;}
	.prof-reg .bottom-div h3 {text-align: center; width: 100%;}
	.success-cont a.btn.btn-success{font-size:12px;}
	.col-lg-4.col-md-4.pull-left.user-profile{margin-left:20px;}
	.user-img.pull-left{margin-left:28%;}
	.user-name.pull-left{width:100%; margin-top:10%;}
	.upgrd-lic .btn-success{width:100%; margin-bottom:20px;}
	.patient-data .nmber > p {text-align: center; }
	.patient-data .nmber span.txt {font-size: 26px; text-align: center;}
	.patient-data .nmber p span.ryt {float: right; margin-top: 10px;text-align: center; width: 100%;}
	.crgvr-lft .fieldset > label {float: left; text-align: center; width: 100%;}
	.crgvr-lft input[type="text"], .crgvr-lft input[type="email"]{width:100%;}
	.crgvr-lft .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {width: 100% !important;}
	.crgvr-ryt .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {width: 100% !important;}
	.crgvr-lft .fieldset{width:100%;}
	.mid-btm .frm-cont .col-md-5.pull-left.btn.no-padding {width: 100%;}
	.frm-cont .btn .btn.btn-default, .form-inn-cont .btn .btn.btn-default, .form-inn-cont2 .btn .btn.btn-default {float: left; margin-top: 20px; width: 100%; text-align:center;}
	.frm-cont .btn .btn.btn-success, .form-inn-cont .btn .btn.btn-success, .form-inn-cont2 .btn .btn.btn-success{text-align:center;	}
	.midsd .btns-cont button.btn.btn-success{width:100%;}
	.menu-btn.active{width:28%;}
	.new-evnt-cont .fieldset label{width:100%; text-align:center;}
	.new-evnt-cont .fieldset .btn-group.bootstrap-select{width:100% !important;}
	.content-cont.nw-evnt.drugs {border: 0 none;}
	.maint-cont ul li img{width:100%;}
	span.maint-txt{width:100%; text-align:center;}
	.diet-cont button.btn.btn-success.back-btn{margin-bottom:0;}
	.table-cont {position: relative; right: 10px;}
	.edit-profile {position: relative; text-align: center; top: -62px; width: 75%;}
	.new-activity-cont .col-lg-4.inp-url {float: right; width: 80%;}
	.patient-data-ryt .btn.btn-success { margin-bottom: 20px; margin-top: 20px; width: 100%;}
	.patient-data-ryt .btn.btn-danger.back-btn { margin-bottom: 20px; margin-top: 20px; width: 100%;}
	.patient-data .btns3 .btn.btn-success {  margin-bottom: 20px;}
}
@media (max-width: 400px){
	.activity-cont .table-cont {position: relative; right: 30px;}
}
@media (max-width: 375px){
	.table-cont table {left: -15px; position: relative;}
	.activity-cont .table-cont {position: relative; right: 25px;}
	.new-activity-cont .col-lg-6.hlp {float: left;width: 82%;}
	.new-activity-cont .col-lg-4.inp-url {float: right; width: 76%;}
}
@media (max-width: 360px){
	.nmber span.badge{margin-right:4px;}
	.nmber span.txt {font-size: 11px;}
	.caregiver-routine .pat-desc ul li {margin-bottom: 30px; width: 100%;}
	.col-md-4.col-sm-4.col-xsm-4.drug-name {float: left; width: 100%;}
	.col-md-4.col-sm-4.col-xsm-4.drug-residual {float: left; width: 100%;}
	.caregiver-routine .midsd .content-cont.nw-evnt.drugs .drug-residual p{text-align:center;}
	.table-cont table {left: -24px; position: relative;}
	
}
@media (max-width: 320px){
	span.usrname{width:100%; margin-bottom:20px;}
	.user-name button.btn.btn-success{width:100%;}
	.col-lg-4.col-md-4.pull-left.user-profile {float: left !important; margin: 0 !important; padding: 0 !important; width: 100% !important;}
	.user-name.pull-left {padding: 0; width: 100% !important;}
	.drug-tab-btm ul li span.txt {font-size: 12px; width: 65%;}
	.edit-profile{top:-114px;}
	.new-activity-cont .col-lg-4.inp-url {float: right; width: 100%;}
	.new-activity-cont .col-lg-1.lbl2 {float: left; width: 100%;}
}