/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
input{
	height:30px !important;
}
.error_message{
	  color:red;
	  font-weight: bold; 
}
.signup_wrap{
	 width:80%;
	 float:left;

}
.form_title{
	color: grey;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0px;
}
.flash_message{
	color: red;
	font-weight:bold;
	float: left;
	font-size: 15px;
	padding: 10px 0;
}
form {
    float: left;
    width: 100%;
}
.front_sidebar{
	background-color: #d2d2d2;
	float: left;
	font-weight: bold;
	margin: 0 10px 0 0;
	padding: 0 10px !important;
	width: 15%;
	font-size:15px;
}
.submit_button{
	padding: 0 50px;
	margin: 0 0 0 28px;
}
.button_align{	
	text-align: center !important;
}
.row{

}
.profile_data{
	font-size:15px;
}
.button_align{
	padding:0px 33px;
}
label{
	font-size:15px;
	margin-bottom:10px !important;
}
body{
	font-size:15px !important;
}
.image_size{
	height:150px;
	width:150px;
}
.reg_form > a {
    font-size: 15px;
}
#body{
	min-height:560px;
}
